.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login_container {
    border-radius: 15px;
    width: 510px;
    height: 520px;
    background-color: #fff;
    margin: 0 auto;
}

.login_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 49px 0 23px 0;
    text-align: center;
}

.login_link_container {
    display: flex;
    justify-content: center;
}

.login_link {
    text-decoration: none;
    color: #060606;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    padding: 8px 39px;
    border-radius: 10px;
    background-color: #ddf1ff;
    border: 1px solid #1071b3;
}

.login_link:hover {
    background-color: #1071b3;
    transition: all 0.3s;
    color: #fff;
}

@media(max-width:520px) {
    .login_container {
        width: 254px;
    }
}