.search_input {
    width: 647px;
    height: 52px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c1bdbd;
    font-weight: 400;
    color: black;
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 46px;
    cursor: pointer;
}

.search_button {
    width: 150px;
    height: 55px;
    border-radius:0 10px 10px 0;
    border: 1px solid #777474;
    background-color: #1390E5;
    color: #fff;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}

.search_button:hover{
    background-color: #056cb1;
}
.search{
    position: relative;
}
.icons_search{
    position: absolute;
    top: 11px;
    left: 102px;
    width: 35px;
}
.close{
    position: absolute;
    top: 13px;
    right: 258px;
    width: 23px;
    height: 30px;
    cursor: pointer;
}