.search_input {
    width: 686px;
    height: 52px;
    border-radius:10px 0 0 10px;
    border: 2px solid #c1bdbd;
    font-weight: 400;
    color: black;
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.search_button {
    width: 150px;
    height: 56px;
    border-radius:0 10px 10px 0;
    border: 1px solid #777474;
    background-color: #1390E5;
    color: #fff;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.search_button:hover{
    background-color: #056cb1;
}