.Form_inner {
    width: 400px;
    height: 340px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

.form_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #9c9c9e;
}

.Form_email {
    width: 334px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #1390E5;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
    padding: 0 0 0 10px;
    background-color: #fff;
    cursor: pointer;
}

.Form_pass {
    width: 334px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #1390E5;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.Form_button {
    width: 176px;
    height: 52px;
    border-radius: 10px;
    color: #fff;
    background-color: #1390E5;
    border: none;
    cursor: pointer;
}

.Form_button:hover {
    transition: 0.5s;
    background-color: #0b6cac;
}

.Button_container {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.Form_container {
    position: relative;
}

.form_img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 65px;
    cursor: pointer;
}

@media(max-width:534px) {
    .Form_inner{
        width: 256px;
    }
    .Form_email {
        width: 229px;
        font-size: 16px;
    }

    .Form_pass {
        width: 229px;
        font-size: 16px;
    }
}