.modal_container {
    width: 220px;
    height: 379px;
    background-color: #fff;
    margin: 50px auto;
    position: absolute;
    top: 276px;
    right: 248px;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
}

.modal_items {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 28px;
}

.modal_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #272727;
    margin: 26px 0px 16px 0;
}

.modal_input {
    cursor: pointer;
    width: 131px;
    height: 95px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #090909;
    padding: 0 0 0 10px;
    border-radius: 10px;
    box-shadow: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.slider_container {
    display: flex;
    flex-wrap: wrap;
    margin: 22px 0 0 0;
    flex-direction: column-reverse;
    align-items: center;

}

.slider_value {
    width: 37px;
    height: 21px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #272727;
    padding: 5px 15px;
    border: 1px solid #9d9696;
    border-radius: 10px;
    margin: 19px 0 0 54px;
}

.slider_input {
    width: 158px;
    height: 74px;
    margin: -13px 0 0 -29px;
    cursor: pointer;
}

.slider_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #272727;
    margin: 0 18px 0 0;
}

.button_container {
    display: flex;
    justify-content: space-around;
}


.button_save {
    width: 141px;
    height: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 13px;
    background-color: #1390E5;
    border: 1px solid #1390E5;
    color: #fff;
    border-radius: 10px;
    padding: 14px 20px;
    cursor: pointer;
}

.button_save:hover {
    background-color: #0b72b6;
    transition: .5s ease;
}

.slider_box {
    margin: 0 0 0 23px;
}
.activ{
    color: #1390E5;
}
.activSearch{
    color: #1390E5;
    cursor: pointer;
    margin: -6px 0 26px 0;
}
.searchImg{
    width: 100px;
    position: absolute;
    top: -7px;
    right: 17px;

}
@media(max-width:1146px){
    .modal_container {
        top: 276px;
        right: 157px;
    }
}
@media(max-width:876px){
    .modal_container {
        top: 276px;
        right: 61px;
    }
}
@media(max-width:750px){
    .modal_container {
        top: 269px;
        right: 31px;
    }
}
@media(max-width:683px){
    .modal_container {
        top: 304px;
        right: 358px;
    }
}
@media(max-width:601px){
    .modal_container {
        top: 271px;
        right: 102px;
    }
}
@media(max-width:550px){
    .modal_container {
        top: 271px;
        right: 57px;
    }
}
@media(max-width:505px){
    .modal_container {
        top: 304px;
        right: 183px;
    }
.modal_title{
    font-size: 14px;
    line-height: 16px;
    margin: 12px 0px 10px 0;
}
.modal_input{
    font-size: 13px;
    margin: -15px 0px 0 0px;
}
.searchImg{
    width: 77px;
    top: 2px;
    right: 20px;
}
.slider_text{
    font-size: 13px;
    margin: -17px 16px 0 0;
}
.slider_value{
    margin: 14px 0 0 54px
}
.modal_container{
    width: 193px;
    height: 284px;
}

}
@media(max-width:424px){
    .modal_container {
        top: 304px;
        right: 102px;
    }
}
@media(max-width:341px){
    .modal_container {
        top: 304px;
        right: 16px;
    }
}
