.simon {
    width: 82px;
    height: 80px;
    padding: 25px 0 0 0;
}

.home {
    background-color: #fff;
    box-shadow: -2px 9px 8px -1px rgba(7, 129, 223, 0.37);
    height: 125px;
}

.home_container {
    max-width: 1070px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.home_header {
    display: flex;
    justify-content: space-between;
}

.home_user {
    padding: 10px 45px;
    color: cornflowerblue;
    background-color: #fff;
    border: 1px solid cornflowerblue;
    margin: 39px 0 0 0;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    height: 44px;
    width: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home_exid {
    padding: 0px 20px;
    margin: 39px 0 0 40px;
    color: cornflowerblue;
    background-color: #fff;
    border: 1px solid cornflowerblue;
    border-radius: 25px;
    cursor: pointer;
}

@media(max-width:750px) {
    .home_user {
        padding: 13px 29px;
        height: 42px;
        margin: 32px 0 0 0;
        font-size: 15px;
        font-size: 15px;
    }

    .home_exid {
        padding: 14px 24px;
        height: 42px;
        margin: 42px 37px 0 0;
        height: 54px;
        font-size: 15px;
    }
}

@media(max-width:600px) {
    .simon {
        width: 60px;
        height: 60px;
        margin: -9px 0 0 0;
    }

    .home {
        height: 91px;
    }

    .home_user {
        padding: 9px 10px;
        height: 36px;
        font-size: 12px;
        margin: 21px 0 0 0;
    }
    .home_exid {
        font-size: 0px;
        border: none;
        background-image: url(../../img//logout_icon_151219.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 12px;
        margin: 36px 0 0 0;
        padding: 14px 0px;
    }
}


@media(max-width:387px) {
    .home_user {
        padding: 6px 19px;
        height: 39px;
        margin: 19px 0 0 0;
        font-size: 13px;
        width: 100px;
    }
}