.home {
    height: 100vh;
}
.background_header{
    height: 111px;
    width: 101%;
    background-color: #fff;
    position: absolute;
}
.home_header {
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: flex-end;
    max-width: 1100px;
    margin: 0 auto;
}

.home_header_container {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.home_user {
    padding: 10px 25px;
    color: white;
    background-color: cornflowerblue;
    margin: 39px 0 0 0;
    border-radius: 28px 12px 25px 5px;
    cursor: pointer;
    z-index: 1;
}
.home_exid{
    padding: 0px 20px;
    margin: 39px 0 0 40px;
    border: none;
    color:  white;
    background-color: cornflowerblue;
    border-radius: 9px 32px 6px 25px;
    cursor: pointer;
    z-index: 1;    
}
.container{
    max-width: 1070px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
.serach_title{
    color: black;
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
    margin: 136px 0 97px 0;
}

.video_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video_inner{
    width: 300px;
    height: 200px;
    margin: 30px 0;
    border-radius: 10px;
}