.home {
    height: 100vh;
}

.container {
    max-width: 1070px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.serach_title {
    color: cornflowerblue;
    font-size: 34px;
    font-weight: 400;
    line-height: 52px;
    margin: 47px 0 28px 0;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.video_inner {
    width: 300px;
    height: 200px;
    margin: 30px 0;
    border-radius: 10px;
}

.titleSearch {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.img_sort {
    min-width: 115px;
}

.img_sort img {
    cursor: pointer;
    position: relative;
}

.img_sort_list {
    margin-right: 15px;
}

.img_sort_setting {
    width: 37px;
    height: 22px;
    transition: .8s ease-in-out;
}

.img_sort_setting:hover {
    transform: rotate(360deg);
}

@media(max-width:700px) {
    .titleSearch {
        justify-content: flex-start;
    }

    .img_sort {
        margin: 0 0 0 21px;
    }

}

@media(max-width:500px) {

    .serach_title {
        font-size: 28px;
    }

    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row
    }

    .grid svg {
        height: 250px;
    }

}

@media(max-width:1100px) {
    .grid {
        margin:0 0 0 20px;
    }
}
@media(max-width:532px) {
    .grid {
        justify-content: center;
    }
}
