.title_search {
    width: 141px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272727;
    margin: 0 0 0 25px;
}

.title_search_inner {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #272727;
    margin-left:10px;
    
}
.title_container{
    display: flex;
    align-items: center;
}
.title_search_inner{
    width: 378px;
    display: flex;
}
@media(max-width:600px){
    .title_search_inner{
        max-width: 200px;
    }
}
@media(max-width:391px){
    .title_search{
       width: 113px;
      font-size: 13px;
    }
    .title_search_inner{
        max-width: 160px;
    }
}