.title_search {
    width: 141px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272727;
    margin: 0 0 0 25px;
}

.title_search_inner {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #272727;
    margin-left: 10px;

}

.title_container {
    display: flex;
    align-items: center;
}

.title_search_inner {
    width: 378px;
    display: flex;
}

@media(max-width:600px) {
    .title_search_inner {
        width: 175px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}

@media(max-width:391px) {
    .title_search {
        width: 105px;
        font-size: 12px;
    }

    .title_search_inner {
        width: 138px;
        font-weight: 500;
        font-size: 14px;
        margin-left: 5px;
    }
}